body {
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  overflow: hidden;
  background-color: #333;
  color: #000000;
}

.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.navbar a:hover {
  background-color: #1FFF0F;
  color: #000000;
}

.maint {
	font-family: Arial, Helvetica, sans-serif;
	color: #0080FF;
	font-size: 150px;
	text-align: center;
	margin-top: 220px;
	text-shadow: 0 0 90px #0080FF;
}

.vidt {
	font-family: Arial, Helvetica, sans-serif;
	color: #0080FF;
	font-size: 50px;
	text-align: center;
	text-shadow: 0 0 90px #0080FF;
}

button {
	height: 40px;
	width: 100px;
	background-color: #0080FF;
	border: 0px;
	box-shadow: 0 0 90px #0080FF;
}

a {
  
}
a:link {color: transparent;}
a:visited {color: transparent;}
a:hover {color: transparent;}
a:active {color: transparent;}
.mainb {
	background-color: black;
}
